@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

#root,
.App {
	height: 100%;
	background: url('./assets/tile_background.png');
}

/* -------------------------------- Scrollbar ------------------------------- */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: transparent;
	border: 0px none transparent;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: transparent;
}
::-webkit-scrollbar-thumb:active {
	background: #000000;
}
::-webkit-scrollbar-track {
	background: transparent;
	border: 0px none transparent;
	border-radius: 7px;
}
::-webkit-scrollbar-track:hover {
	background: transparent;
}
::-webkit-scrollbar-track:active {
	background: transparent;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

/* --------------------------------- Balance -------------------------------- */
/* .balance {
	width: -webkit-fill-available;
} */

/* .transactions-container {
	height: -webkit-fill-available;
} */

/* ----------------------------- Category Input ----------------------------- */
.category-container {
	max-height: 2rem !important;
}

.category__control {
	border: none !important;
	border-radius: 10rem !important;
	max-height: 2rem !important;
}

.category__value-container {
	max-height: 2rem !important;
}

.category__indicator-separator {
	display: none !important;
}

.category__single-value {
	max-height: 2rem !important;
	display: flex !important;
	align-items: center !important;
}

.css-b62m3t-container *,
.css-b62m3t-container *:focus {
	border: none !important;
}

.category__control--is-focused {
	all: unset;
}

form .category__control--menu-is-open,
form .category__control--menu-is-focused,
form .category__input {
	border: white !important;
	outline: white !important;
}
